@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F4F6F8] text-slate-800 antialiased;
  }
}

@layer utilities {
  .card-shadow {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  }

  .glass {
    @apply bg-white/80 backdrop-blur-lg border border-white/20;
  }
}